.mobiles {
  background-color: var(--whiteColor);
}
.product__col {
  /* background-color: aliceblue; */
}
.product__box {
  padding: 2rem;
}
.product__box img {
  height: 30rem;
  width: 80%;
  object-fit: contain;
}
